<h1>hello, honey!</h1>

<% types = @apples.map { |a| a.type } %><br>

<table>
  <% types.each do |t| %>
  <tr>
    <td><%= t %></td>
  </tr>
  <% end %>
</table>

<%= form_for Apple.new do |f| %>
  <%= f.text_field :type %>
<%= f.submit "add a new apple" %>

<% end %>
