<h1>hello, honey!</h1>

<% types = @apples.map { |a| a.type } %><br>

<div class="apples-index">
  <table>
    <% types.each do |t| %>
    <tr>
      <td><%= t %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="new-apple">
  <%= form_for Apple.new do |f| %>
    <%= f.text_field :type %><br>
  <%= f.submit "add a new apple" %>
</div>

<% end %>
