<h1>hello, honey!</h1>
<% types = @apples.map { |a| a.type } %><br>
<ul>
  <% types.each do |t| %>
  <li><%= t %></li>
  <% end %>
</ul>

<%#= @apples.map { |a| a.color } %><br>
<%#= @apples.map { |a| a.description } %>